mixin prod-slide(img,title,subtitle,price,classs="col-lg-3 col-sm-6",size,at="подробнее",al="#", item, label, labelclass)
	+e.col(class= classs)
		+b.prod-item
			if label
				+e.label(class= labelclass)= label 

			+e.img-wrap(href="#")
				if item
					+pic(img,'jpg','','lazy',0)
				else
					img(src="#" data-lazy=`img/@2x/${img}`, alt="")
					//- img.lazy(src="#" data-src=`img/@2x/${img}`, alt="")
			+e.title= title
				if subtitle
					+e.sub= subtitle
			if size
				+e.size= size
			if block
				table
					block
			if price
				+e.price= price
			+e.btn(href= al)&attributes(attributes)= at
	// /+e.col

	// если используется таблица с характеристиками
mixin prod-tr(t1, t2)
	tr
		td= t1
		td= t2

mixin s-catalog-body()
	// start s-catalog
	+b.s-catalog.section&attributes(attributes)
		.container.lazy-background
			block
	// end s-catalog
mixin s-catalog()
	// start s-catalog
	+b.SECTION.s-catalog--main-page.section#s-catalog&attributes(attributes)
		.container
			+b.section-title.text-lg-left.text-center
				.row.justify-content-center
					.col-lg-auto
						h2 В ассортименте
							| 
							strong.text-primary более 20 позиций
					.col-lg.col-sm-auto
						+e.text Можете сделать любой фасад
					.col-auto.row.text-left
						.col-auto
							+icon("pantone")
						.col.h6 Делаем шлакоблок любых цветов
				
			+e.slider--js
				+prod-slide("s-catalog-1.jpg","Шлакоблок 50%","пустотности «А Блок»","От 1600 руб.*","","",'подробнее','04-prod.html')
					each t2, t1 in {'Размер:':'390х190х188 см','Цвет:':'серый, красный'}
						+prod-tr(t1,t2)
				+prod-slide("s-catalog-2.jpg","Шлакоблок 50%","пустотности «А Блок»","От 1600 руб.*","","",'подробнее','04-prod.html')
					each t2, t1 in {'Размер:':'390х190х188 см','Цвет:':'серый, красный'}
						+prod-tr(t1,t2)
				+prod-slide("s-catalog-3.jpg","Шлакоблок 50%","пустотности «А Блок»","От 1600 руб.*","","",'подробнее','04-prod.html')
					each t2, t1 in {'Размер:':'390х190х188 см','Цвет:':'серый, красный'}
						+prod-tr(t1,t2)
				+prod-slide("s-catalog-4.jpg","Шлакоблок 50%","пустотности «А Блок»","От 1600 руб.*","","",'подробнее','04-prod.html')
					each t2, t1 in {'Размер:':'390х190х188 см','Цвет:':'серый, красный'}
						+prod-tr(t1,t2)
			+e.foot-text.text-secondary *Стоимость за&nbsp;1&nbsp;поддон, 60&nbsp;шт.
			+e.foot-block
				+e.btn--foot.btn-primary(href='03-catalog.html') Смотреть весь шлакоблок
				+e.foot-block-text 
					+icon("info")
					div 
						a.tdu(href="03-catalog.html") В&nbsp;каталоге  
						| 
						| вы&nbsp;также можете выбрать фасадный камень и&nbsp;сопутствующие стройматериалы
	// end s-catalog





mixin s-catalog-with()
	+s-catalog-body()
		h3.fw-500 С этим товаром заказывают
		+e.slider--js
			+prod-slide("prod-1.jpg","Цемент","","240 руб.","text-center",'1 мешок','Заказать','')(class="link-modal" data-src="#modal-order" href="javascript:;" data-order="Заказать Цемент")
			+prod-slide("prod-2.jpg","Песок","","860 руб.","text-center",'Бигбэг 1 тонна','Заказать','')( data-src="#modal-order" href="javascript:;" data-order="Заказать Песок")
			+prod-slide("prod-3.jpg","Перемычки","","700 руб.","text-center",'1 шт','Заказать','')(class="link-modal" data-src="#modal-order" href="javascript:;" data-order="Заказать Перемычки")
			+prod-slide("prod-4.jpg","Сетка кладочная Streck 20 m","","240 руб.","text-center",'90 мм','Заказать','')( class="link-modal" data-src="#modal-order" href="javascript:;" data-order="Заказать- Сетка кладочная Streck 20 m")