.s-catalog {
	&--main-page{
		padding-bottom: rem(40);
		.section-title{
			padding-bottom: rem(25);
			 
		 
			.row{
				align-items: center;
			}
			.icon{
				font-size: rem(45);
				fill: url(#primary-gradient);
				// margin-top: rem(-5);
				position: relative;
				top: rem(-7);
				left: rem(5);
			}
			h2{
				max-width: em(145);
				padding-bottom: 0;
			
				@include media-breakpoint-up(lg){
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 0;
				}
				margin-left: auto;
				margin-right: auto;
			}
			&__text{
				max-width: rem(200);
				@include media-breakpoint-up(lg){
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 0;
				}
				margin-bottom: 1rem;
				margin-left: auto;
				margin-right: auto;
			}
			.h6{
				max-width: 150px;
				line-height: 1.4;
				margin-bottom: 0;
				@include media-breakpoint-up(xl) {
					// margin-left: rem(-);
					padding-left: rem(10);
					margin-right: rem(30);
				}
			}
		}
	}
	&__slider{
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.slick-track{
		display: flex;
	}
	// .slick-list{
		// padding-bottom: rem(38);
		// 	padding-left: 10px;
	// 	padding-right: 10px;
	// }
	&__col{
	margin-bottom: rem(38);
		&.slick-slide{
			// margin-bottom: 0;
			padding-top: rem(20);
			padding-left: rem(15);
			padding-right: rem(15);
			height: auto;
		}
	}
	&__foot-text{
		padding-bottom: 2rem;
		@include media-breakpoint-up(md) {
			text-align: left;
			padding-left: rem(20);
		} 
		text-align: center;
	}
	&__foot-block{
		@include media-breakpoint-up(md) {

			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			max-width: rem(716);
			text-align: left;
		}
		text-align: center;
		@extend .h6;
		font-weight: 500;
		padding-top: rem(40);
		&-text{
			display: flex;
			line-height: 1.44;
			margin-bottom: rem(30);
			text-align: left;
			@include media-breakpoint-up(md) {
				margin-left: 0;
				margin-right: 0;
			}
			max-width: rem(420);
			margin-left: auto;
			margin-right: auto;
		}
		.icon{
			font-size: rem(21);
			fill: url(#primary-gradient);
			margin-bottom: rem(25);
			margin-right: rem(10);
			margin-right: rem(20);
			flex-shrink: 0;


		}

	}
	&__btn{
		@extend .btn;
		&--foot{
			flex: 0 0 rem(313);
			width: rem(313);
			margin-right: rem(45);
			margin-bottom: rem(30);
		}
	}
	.slick-arrow{
		&.r{
			right: rem(5);
		}
		
		&.l{
			left: rem(5);
		}

	}

	&--page{
		padding-top: rem(45);
		h2{
			strong{
			display: inline-block;
			}
		 }
 
		.section-title{
			margin-left: auto;
			margin-right: auto;
			max-width: rem(700);
			padding-bottom: rem(1);
		}
		.container{
			// position: absolute;
			position: relative;
			&::after,
			&::before{
				position: absolute;
				pointer-events: none;
			}
			&.visible{ 
				@include media-breakpoint-up(lg) { 
				&::after{
					content: url(../img/@2x/category-after.png);
					left: 100%;
					top: 0;
				} 
				&::before{
					content: url(../img/@2x/category-before.png);
					right: 95%;
					bottom: rem(-100);
				}
			}
		} 
			}
			.s-catalog__col{
				// &:nth-last-child(-n + 4) {
				// 	display: none;
				// }
				&:nth-child(n + 9){
					 display: none;
				}
			}
			
		}
		&__item{
		box-shadow: 0 2px $h4-font-size 7px rgba(48, 48, 48, 0.05);
		border-radius: $border-radius;
		background-color: #ffffff;
		position: relative;
		overflow: hidden;
		display: block;
		color: $body-color !important;
		text-decoration: none !important;
		height: 100%;
		@include media-breakpoint-up(sm) {
			margin-left: 0;
			margin-right: 0;
		}
		margin-left: -15px;
		margin-right: -15px;
	}
	&__img-wrap{
		display: block;
	}
	&__caption{
		@include media-breakpoint-up(lg) {

			padding: rem(35) rem(39) rem(25);
		}
		padding: rem(25) rem(10) rem(25);
	}
	&__title{
		@extend .h5;
		font-weight: bold;
		padding-bottom: rem(10);
	}
	&__text{
		@extend .h6;
		font-weight: 500;
		padding-bottom: rem(20);
	}
	&__small{
		font-weight: 500;
		display: flex;
		span{
			margin-right: rem(10);
		}
	}

	&__shipping-block{
		.h6{
			@include media-breakpoint-down(xs) {
			// padding-left: 10px;
			// padding-right: 1px;
			max-width: rem(200px);
			margin-left: auto;
			margin-right: auto;
		}
	}
		// background-image: url(../img/svg/shipping-block-bg.svg);
		@include media-breakpoint-up(sm) {
			
			@include bg("shipping-block.png");
			display: flex;
			text-align: center;
			// padding-top: rem(6);
		div.order-sm-last{
				padding: 0;
				// text-align: left;
			}
			padding: rem(6px);
			padding-bottom: rem(32);
		}
		padding: rem(7px);
		padding-bottom: rem(40);
	div.order-sm-last{
		text-align: center;
			padding: rem(30) rem(10);
		}
		@include bg("shipping-block-sm.png");
		margin-top: rem(40);
		background-size: 100% 100%;
		background-repeat: no-repeat;
 
		max-width: rem(659);
		margin-left: auto;
		margin-right: auto;
		

		// align-items: flex-end;
		align-items: center;
		position: relative;
		overflow: hidden;
		border-radius: rem(6); 
		picture{
			border-radius: rem(6); 
			position: relative;
			overflow: hidden;
			height: rem(209 - 34 - 12);
			img{
				height: 100%;
				max-height: 100%;
			}
			width: auto;
			text-align: left;
		}
		div{
			flex-grow: 1;
		}
}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.prod-item{
	box-shadow: 0 2px ($h4-font-size * .8) 4px rgba(48, 48, 48, 0.05);
	border-radius: $border-radius;
	background-color: #ffffff;
	padding: rem(20) rem(23);
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: rem(320);
	display: flex;
	flex-direction: column;
	position: relative;
	&__label{
		position: absolute;
		left: 0;
		top: rem(27);
		text-align: center;
		padding: rem(9) rem(13);
		border-radius: 0 3px 3px 0;
		background-color: #e7eaee;
		font-weight: 500;
	}
	&__img-wrap{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: rem(215);
		margin-bottom: rem(20);

		picture{
			max-height: 100%;

		}
		img{
			max-height: 100%;
		}
	}

	&__title{
		@extend .h5;
			font-weight: bold;
			// padding-bottom: rem(20);
			// margin-bottom: auto;
		}
		&__size{
			margin-bottom: auto;
		}
				&__sub{
					margin-bottom: 0;
					font-weight: 500;
				}
	table{
		margin-top: rem(20);
		width: 100%;
		margin-bottom: rem(6);
	}
	td{
		font-weight: 500;
		padding-bottom: rem(3);
		&:nth-child(1){
			@extend .text-secondary;
			padding-right: rem(10);
		}
	}
	&__price{
		text-align: center;
		font-weight: 600;
		padding-top: rem(20);
		padding-bottom: rem(15);
		// margin-top: auto;
	}
	&__btn{
		@extend .btn;
		@extend .btn-success;
		@extend .btn-sm;
		@extend .btn-block;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(206);
		margin-bottom: rem(20);
	}
}