.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-brick {
	font-size:(320.2/10)*1rem;
	width:(500/320.2)*1em;
}
.icon-brickwall {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-brickwall-form {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-building {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-check {
	font-size:(341.7/10)*1rem;
	width:(448.8/341.7)*1em;
}
.icon-clock {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-email {
	font-size:(15/10)*1rem;
	width:(19/15)*1em;
}
.icon-info {
	font-size:(65/10)*1rem;
	width:(65/65)*1em;
}
.icon-mail2 {
	font-size:(485.2/10)*1rem;
	width:(485.2/485.2)*1em;
}
.icon-mark {
	font-size:(430.1/10)*1rem;
	width:(430.1/430.1)*1em;
}
.icon-pantone {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-placeholder {
	font-size:(17/10)*1rem;
	width:(13/17)*1em;
}
.icon-plastic-card {
	font-size:(352.5/10)*1rem;
	width:(352.5/352.5)*1em;
}
.icon-ruble {
	font-size:(189.63/10)*1rem;
	width:(500/189.63)*1em;
}
.icon-shopping-bag {
	font-size:(201.4/10)*1rem;
	width:(201.4/201.4)*1em;
}
.icon-snowflake {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-star {
	font-size:(453.1/10)*1rem;
	width:(475.08/453.1)*1em;
}
.icon-tel {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-tel2 {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-telephone {
	font-size:(480.6/10)*1rem;
	width:(480.6/480.6)*1em;
}
.icon-tow-truck {
	font-size:(354.94/10)*1rem;
	width:(500/354.94)*1em;
}
.icon-users {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-viber {
	font-size:(52.5/10)*1rem;
	width:(52.5/52.5)*1em;
}
.icon-wallet {
	font-size:(334.9/10)*1rem;
	width:(334.9/334.9)*1em;
}
.icon-whatsapp {
	font-size:(470/10)*1rem;
	width:(470/470)*1em;
}
