mixin s-composition()
	// start s-composition
	+b.SECTION.s-composition.section#s-composition&attributes(attributes)
		.container
			+b.section-title.text-center
				h2
					strong.text-primary Мы&nbsp;придирчивы к&nbsp;составу
					| 
					| шлакоблока, чтобы вы&nbsp;получали строения на&nbsp;века
				+e.text Из-за острых краев частиц отсева цемент лучше сцепляет их&nbsp;и&nbsp;увеличивает прочность блока
			+e.block-wrap.lazy-background
				mixin item(i,t )
					+e.item
						+e.img-wrap
							+pic("s-composition-"+i,"jpg","bg",'') 
						+e.caption
							+e.title= t
							block
				+item("1","Наполнитель: гранитный отсев")
					+e.text Фракции до&nbsp;10&nbsp;мм, практически без пыли
				+item("2","Цемент ПЦ400")
					+e.text Оптимальная марка, благодаря которой шлакоблок получаются стойкими к&nbsp;влаге, нагрузкам и&nbsp;повреждениям
				+item("3","Вода")
					+e.text Можно добавить две строчки описания
				+item("4","Специальные добавки")
					+e.text Для быстрого твердения
				.d-none.d-md-block
					+pic("s-types-img","png","","lazy",0)
	// end s-composition