
.fancybox-is-open .fancybox-bg{
	opacity: 0.6;
}
.jaw-block-wrap{
	padding-top: rem(30);
	padding-bottom: rem(30);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal-win {
	// display: block;
	display: none;
	position: relative;
	padding: 0;
	width: 100%; 
	border: 4px solid #f0f0f0;
	.jaw-block{
		margin-left: auto;
		margin-right: auto;
	}
	.section-bg{
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
		// background-size: ;
	
	}
	.h5{
		// line-height: 1.33;
	}
	@include media-breakpoint-up(lg) {

		max-width: 1061px;
	}
	&.form-wrap{
		@include media-breakpoint-up(lg) {

			max-width: 1061px;
		}
		max-width: 440px;
	}
 
	background-color: #ffffff;
	z-index: 2;
	// border-radius: 5px;
	overflow: hidden;
	// border: 1px solid #d9dbdf;
	border-radius: rem(16);
	&::after{
		content: '';
		position: absolute;

		// z-index: -1;
		pointer-events: none;
		z-index: 4;
		@include a-cent;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
	}
 
	.form-wrap{
		
		&__modal-head{
			position: relative;
			z-index: 2;
			@include media-breakpoint-up(lg) {

				margin-right: -140px;
			}
			margin-bottom: 20px;
		}
 
	}
 
	.col{
		background-color: #fafafa;
		@include media-breakpoint-up(sm) {
			padding: rem(40px) rem(60px);
			.form-wrap__btn{
				max-width: 100%;
			}
		}
		padding: rem(30px) rem(15px) rem(20px);
		
		&.h6{
			padding: 0;
			background: none;	
		}
	}
	&--tech{
		padding: rem(30);
		max-width: 1061px;
		.h3{
			padding-bottom: 2rem;
		}
	}
	&__title{
		font-weight: bold;
		@extend .h5;
	}
	&__col-tech{
		margin-bottom: rem(40);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(80);

			&:nth-child(2){
				padding-top: rem(50);
			}
		}
		picture{
			@include media-breakpoint-up(md) {

				height: rem(309);
				display: flex;
				align-items: center;
				justify-content: center;
			}
			margin-bottom: 1rem;
		}
	}
	&__foot{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(530);
		.icon{
			font-size: $h5-font-size;
			fill: url(#primary-gradient);
		}
	}
	&__head-text{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(670);
		padding: rem(15);
		padding-right: rem(15);
		padding-bottom: rem(50);
	}
}

.modal-win{
	&--know{
		// padding: rem(40) ;
		padding-top: rem(40);
	}
	&--sm{
		max-width: rem(550) !important;
		padding: rem( 	40);
			.h6{
				margin-left: auto;
				margin-right: auto;
				max-width: 	rem(380);
			}
	}
	&--storage{
		@include bgs;
		@include bg("modal-bg.jpg");
		picture{
			margin-bottom: 2rem;
		}
	}
}

#modal-one-click{
	.col{
		padding: 0 !important;
	}
	.h6{
		max-width: none !important;
		padding-bottom: 1rem;
	}
	form{

		margin-left: auto;
		margin-right: auto;
		max-width: rem(380);
	}
	.form-wrap{
		&__input{

		}
		&__btn{
			margin-top: 0;
			border-radius: 0 3px 3px 0;
			&::before,
			&::after{
				border-radius: 0 3px 3px 0;

			}
			box-shadow: none;
			text-shadow: none;
		}
	}
}
a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

.toggle-block{
	.form-wrap__input-wrap{
		margin-bottom: 30px;
		input{
			padding: 14px 80px;
		}
	}
}
.toggle-block:not(.active){
	display: none;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}
 

@include media-breakpoint-up(sm) { 
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;
		:hover {
			text-decoration: none;
			// display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}


.time-block{
	display: flex;
	align-items: center;
	color: #4e4e4e;
	padding-bottom: rem(40);
	&__line{
		display: flex;
		justify-content: space-between;
		div:first-child{
			margin-right: rem(22);
		}
	}
	.icon{
		color: #cfeef4;
		font-size: rem(40);
		margin-right: rem(16);
	}
}