mixin s-prod-head(i, t, label, labelclass)
	// start s-prod-head
	+b.SECTION.s-prod-head.section#s-prod-head&attributes(attributes)
		.container.lazy-background
			+e.title.d-md-none.text-center= t
			.row
				.col-md-auto
					+e.img-wrap
						if label
							+e.label(class= labelclass)= label 
						+pic(i)
				block
				
	
	// end s-prod-head
mixin group-change-color(color="Серый", color2="Красный")
	+e.group--color.row.align-items-center
		+e.title-group.col-auto Цвет:
		+e.color.col
			.row
				+b.LABEL.radio-input
					+e.INPUT.input(type="radio" name="color[]" value= color checked data-price="#price-1")
					+e.title= color
				
				+b.LABEL.radio-input
					+e.INPUT.input(type="radio" name="color[]" value= color2 data-price="#price-2")
					+e.title= color2
mixin group-btn(title)
	+e.btn-wrap
		+e.btn--one-click-js.btn-success.link-modal(  data-src="#modal-one-click" href="javascript:;" data-order=`Быстрый заказ- ${title}`) Купить в 1 клик
		+e.btn.btn-primary.link-modal(  data-src="#modal-order" href="javascript:;" data-order=`Заказать ${title}`) заказать
