.s-shipping { 
	margin-top: rem(35);
		@include media-breakpoint-up(md){
	
			padding-top: rem(110);
			padding-bottom: rem(40);
		}
			.section-title{
				margin-bottom: 0;
				padding-bottom: 0;
				max-width: rem(380);
				@include media-breakpoint-up(md) {
					text-align: left;
				}
				text-align: center;
				 
			}
			li{
				max-width: rem(410);
				list-style-type: none;
				@extend .h5;
				font-weight: 500;
				padding-left: rem(47);
				margin-bottom: rem(25); 
				position: relative;
				line-height: 1.33;
			 
				.before{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						background-size: 100% 100%;
			 
						background-image: url(../img/svg/polygon-border.svg);
						width: rem(27px);
						height: $h3-font-size;
						display: flex;
						justify-content: center;
						align-items: center;
				}
				
					.icon{
						font-size: rem(13);
				fill: url(#success-gradient);
				filter: drop-shadow(0 2px 0 #fff);
					}
				
	
				// margin-right: rem(-30);
				a{
					border-width: em(1.6);
				}
			} 
			&__block{
				box-shadow: 0 0 23px 12px rgba(192, 192, 192, 0.07);
				border-radius: $border-radius;
				background-color: #ffffff;
				display: flex;
				@include media-breakpoint-up(xl) {
	
					padding: rem(40) rem(20) rem(40) rem(35);
				}
				padding: rem(40) rem(15) rem(40) rem(25);
				font-weight: 500;
				@extend .h6;
				position: relative;
				z-index: 2;
					@include media-breakpoint-up(md) {
				// margin-bottom: rem(30);
					}
				.text-success{
					@include rfs(rem(40));
					flex-shrink: 0;
					padding-right: rem(24);
				}
				@include media-breakpoint-up(md) {
					max-width: rem(523);
					margin-left: auto;
					margin-top: 0;
					margin-bottom: rem(50);
				}
				margin-top: rem(-50);
			}
			.row{
				@include roww(7);
			}
			&__img-wrap{
				position: relative;
				z-index: 2;
				width: 100%;
				@include media-breakpoint-up(md){
	
					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						width: 97%;
						height: 50%;
						background-color: #dee0e4;
						z-index: -1;
						border-radius: rem(5);
						transform: rotate(3deg) translate(10px, 11px)
					}
				}
			}
		@include media-breakpoint-up(xl) {}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(md) {}
		@include media-breakpoint-up(sm) {}
		@include media-breakpoint-up(xs) {}
		
		//
		@include media-breakpoint-between(md, xl) { }
		
		
		//
		@include media-breakpoint-only(xs) {}
		@include media-breakpoint-only(sm) {}
		@include media-breakpoint-only(md) {}
		@include media-breakpoint-only(lg) {}
		@include media-breakpoint-only(xl) {}
		
		//
		@include media-breakpoint-down(xl) {}
		@include media-breakpoint-down(lg) {}
		@include media-breakpoint-down(md) {}
		@include media-breakpoint-down(sm) {}
		@include media-breakpoint-down(xs) {} 
	
	}