.s-shipping { 
	margin-top: rem(35);
		@include media-breakpoint-up(md){
	
			padding-top: rem(110);
			padding-bottom: rem(85);
		}
			.section-title{
				margin-bottom: 0;
				padding-bottom: 0;
				max-width: rem(380);
				@include media-breakpoint-up(md) {
					text-align: left;
				}
				text-align: center;
				 
			}
			li{
				max-width: rem(410);
				list-style-type: none;
				@extend .h5;
				font-weight: 500;
				padding-left: rem(47);
				margin-bottom: rem(25); 
				position: relative;
				line-height: 1.33;
			 
				.before{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						background-size: 100% 100%;
			 
						background-image: url(../img/svg/polygon-border.svg);
						width: rem(27px);
						height: $h3-font-size;
						display: flex;
						justify-content: center;
						align-items: center;
				}
				
					.icon{
						font-size: rem(13);
				fill: url(#success-gradient);
				filter: drop-shadow(0 2px 0 #fff);
					}
				
	
				// margin-right: rem(-30);
				a{
					border-width: em(1.6);
				}
			} 
			&__block{
				border-radius: $border-radius;
				background-color: #ffffff;
				position: relative;
				@include media-breakpoint-up(md) {
					
					box-shadow: 0 $h6-font-size 40px rgba(255, 255, 255, 0.38);
					border: 1px solid #eeeeee;
					&.visible{
						position: relative;
						&::before{
							content: url(../img/@2x/ice.png);
							position: absolute;
							top: 65%;
							left: -45px;
						}
					}
				}
				@include media-breakpoint-up(xl) {
					
					padding: rem(40) rem(20) rem(20) rem(55);
				}
							@include media-breakpoint-up(md) {
				padding: rem(40) rem(15) rem(20) rem(25);
							}
				font-weight: 500; 
				position: relative;
				z-index: 2;
				.icon{
					font-size: rem(19);
					&-ruble{
						display: block;
						margin-bottom: rem(10);
					}
					&-snowflake{
						color: #81c7ea;
					}
				}
				max-width: rem(420);
			}
		 &__col{
			 @include media-breakpoint-up(xl) {
				flex: 0 0 44%;
				max-width: 44%;
			 }

		 }
			&__block-items{
				@include media-breakpoint-up(lg) {

					background-image: url(../img/svg/shipping-block-bg.svg);
					background-size: 100% 100%;
					background-repeat: no-repeat;
				width: rem(530);
				height: rem(165);
				margin-left: auto;
				margin-right: auto;
				margin-top: rem(-32);
				padding: 3px;
				padding-bottom: rem(27);
				display: flex;
				align-items: flex-end;
				position: relative;
				overflow: hidden;
				border-radius: rem(6);
			}
		}
			&__block-item{
				@include media-breakpoint-up(lg) {
					padding: 0;
					background-image: none;
					margin-top: 0;
				}
				margin-top: rem(20);
				background-image: url(../img/svg/items-bg.png);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				color: #1d1d1d; 
					font-size: $small; 
				display: flex;
				// align-items: center;
				@include media-breakpoint-down(md) {
					// width: rem(290);
					min-height: rem(140);
					padding: 4px;
					padding-top: rem(30);
				}
				picture{

					width: auto;
					flex-shrink: 0;
					margin-right: rem(10);
					@include media-breakpoint-down(md) {
						width: rem(115);
						height: auto;
						align-self: flex-end;
						// margin-top: rem(40);
						padding-bottom: 3px;
					}
				}
			}
		@include media-breakpoint-up(xl) {}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(md) {}
		@include media-breakpoint-up(sm) {}
		@include media-breakpoint-up(xs) {}
		
		//
		@include media-breakpoint-between(md, xl) { }
		
		
		//
		@include media-breakpoint-only(xs) {}
		@include media-breakpoint-only(sm) {}
		@include media-breakpoint-only(md) {}
		@include media-breakpoint-only(lg) {}
		@include media-breakpoint-only(xl) {}
		
		//
		@include media-breakpoint-down(xl) {}
		@include media-breakpoint-down(lg) {}
		@include media-breakpoint-down(md) {}
		@include media-breakpoint-down(sm) {}
		@include media-breakpoint-down(xs) {} 
	
	}