extends layout/main.pug


//- include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
//- include ../blocks/s-garanty/_s-garanty.pug
//- include ../blocks/s-composition/_s-composition.pug
//- include ../blocks/s-strength/_s-strength.pug
//- include ../blocks/s-types/_s-types.pug
//- include ../blocks/s-prices/_s-prices.pug
//- include ../blocks/s-stock/_s-stock.pug
//- include ../blocks/s-form/_s-form.pug
//- include ../blocks/s-shipping/_s-shipping.pug
//- include ../blocks/s-rew/_s-rew.pug
//- include ../blocks/s-gal/_s-gal.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-prod-head/_s-prod-head.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-prod-head/_s-prod-head.pug
include ../blocks/prod-body/_prod-body.pug
//- include ../blocks/s-categories/_s-categories.pug
block variables
	- let  mainPage= null
	
block title
	- let title= 'Шлакоблок рубленый без мрамора'
	title= title

block pagecontent
	//- +mob-mnu()
	+header()
		+top-line()
		.container
			nav.breadcrumb
				a.breadcrumb-item(href='/') Главная
				a.breadcrumb-item(href='02-categories.html') Каталог
				a.breadcrumb-item(href='fasadnii-kamen.html') Фасадный камень
				span.breadcrumb-item.active= title 
		//- +header-block()
		//- +s-composition
	//- +s-strength
	//- +s-types
	//- +s-prices
	//- +s-catalog
	//- +s-stock
	//- +s-form
	+s-prod-head('prod2--rublencvet',title,"В наличии")
		+e.col.col
			+e.H1.title.d-none.d-md-block= title
		
			+e.group.row
				.col-auto.h5.fw-600 
					.first-price-js#price-1 3100 руб.*
					.second-price-js#price-2 2600 руб.*
				.col.text-secondary *Стоимость 
					br
					| за 1 поддон, 60 шт. 
			+e.group.row
				+e.title-group.col-auto Состав:
				.col.fw-500
					table
						tr
							td Гранитный отсев
							td Вода
						
						tr
							td Цемент ПЦ400
							td Добавки
						
					//- .row
					//- 	.col-auto
					//- 	.col-auto
					//- 	.col-auto
					//- 	.col-auto
			
			+e.group--size.row
				+e.title-group.col-auto Размер:
				.col.fw-500 390*190*188 мм
			+group-change-color("Желтый", "Фиолетовый")
			+group-btn(title)
		+e.last-col.col-lg-auto
			+e.shipping
				+icon('tow-truck')
				+e.shipping-text  В&nbsp;этом месяце отгружено 45 поддонов
			ul
				li
					.before
						+icon('check')
					div 
						.h6 Доставка с разгрузкой:
						+e.small сегодня-завтра
				
				li
					.before
						+icon('check')
					div
						.h6 Оплата:
						+e.small Оплата наличными при получении или по&nbsp;счету
				li
					.before
						+icon('check')
					div 
						.h6 Бесплатное хранение —
						+e.small на&nbsp;территории компании  до&nbsp;12&nbsp;месяцев
	+prod-body
	+s-catalog-with()(class="")
	+s-about-page()
	//- +s-contact()
	+footer()

