mixin s-form()
	// start s-form
	+b.s-form.section#s-form.bg-wrap&attributes(attributes)
		+pic("form-bg",'jpg','bg')(class="picture-bg")
		.container
			.row
				.col-lg-6
					+b.section-title
						h2 
							strong.text-primary  Получите полный каталог 
							| 
							| и&nbsp;прайс на шлакоблок &laquo;А&nbsp;Блок&raquo;
					+e.text.lazy-background Мы&nbsp;также рассчитаем объем и&nbsp;стоимость материала, исходя из&nbsp;площади строения
				.col
					+form-wrap()
						+form-tabs()
							+e.group-title Какую компанию вы&nbsp;представляете?
							.row.justify-content-between
								+b.LABEL.type-company.col-md-auto.col-6
									+e.INPUT.input(type="radio" name="type-company[]" value="Строительная компания" required)
									+e.icon-wrap
										+icon("brickwall-form")
									+e.text Строительная
										| 
										br
										|  компания
								
								+b.LABEL.type-company.col-md-auto.col-6
									+e.INPUT.input(type="radio" name="type-company[]" value="Строительная компания" )
									+e.icon-wrap
										+icon("shopping-bag")
									+e.text Торговая
										| 
										br
										|  компания
								+b.LABEL.type-company.col-md-auto.col-6
									+e.INPUT.input(type="radio" name="type-company[]" value="Строительная компания" )
									+e.icon-wrap
										+icon("users")
									+e.text Я частное
										| 
										br
										|  лицо

							
								
							+inputName()
							+e.btn(type="submit")  Получить каталог и прайс
							+polite
	// end s-form