.s-stock {
		 background-color: #dbd6d5;
		 .container{
			padding-bottom: 0;
			@include media-breakpoint-up(md) {

				&.visible{
					position: relative;
					&::before{
						// content: url(../img/@2x/percent.png);
						content: '';
						position: absolute;
						@include bg('stock-after.png');
						background-size: 100% 100%;
						background-repeat: no-repeat;
						margin-left: rem(-15);
						width: rem(440px);
						height: rem(260px);
						bottom: 0;
						left: 100%;
						margin-left: rem(-75);
						z-index: 4;
						pointer-events: none;
					}
				}
			}
		}
		 &__title{
			 position: relative;
			 @extend h3;
			 font-weight: 500;
			 position: relative;
			 @include media-breakpoint-up(md) {
				 display: block;
				 margin-left: 0;
				 margin-right: 0;
				 max-width: rem(180);
				 padding-bottom: rem(55);
				}
				max-width: rem(280);
			 margin-left: auto;
			 margin-right: auto;
			 display: flex;
			 padding-bottom: rem(15);
			 &.visible::before{
				 content: url(../img/@2x/percent.png);
				 margin-left: rem(-15);
				//  margin-right: rem(30);
				@include media-breakpoint-up(md){
					margin-top: 0;
					
				}
				margin-top: rem(-30);
			 }
		 }
		 &__sm-text{
			 @include media-breakpoint-up(xl) {

				 margin-left: rem(25);
				}
			 max-width: rem(195);
			 @extend .h6;
			 font-weight: 500;
			 line-height: 1.44;
			 // Text style for "П, осмотри"
			 letter-spacing: rem(0.36px);
			 padding-bottom: rem(18);
			}
			&__video{
				display: block;
				width: rem(273);
				height: rem(172);
				@include media-breakpoint-up(xl) {

					margin-left: rem(25);
				}
				&::before{
					content: '';
					@include a-cent;
					width: rem(78px);
					height: rem(78px);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					@include bg('stock-play.png');
				}
		 }
		 &__man{
			 width: 100%;
			@include media-breakpoint-up(xl) {

				margin-left: rem(-50);
				margin-right: rem(-55);
			}
			@include media-breakpoint-up(lg) {
				
				z-index: 3;
			}
			@include media-breakpoint-up(md) {
				width: auto;
				margin-right: rem(-85);
				margin-left: rem(-90);
				position: relative;
				margin-top: rem(-30);
				img{

					max-width: 100%;
				}
			}
			text-align: center;
			img{
				max-width: rem(300);
				margin-left: auto;
				margin-right: auto;
			}

			top: 0;
			left: 0;
			position: absolute;
			 pointer-events: none;
		 }
		 &__text-block{
			 position: relative;
			 z-index: 2;
			 @include media-breakpoint-up(md) {

				 max-width: rem(520);
				 margin-top: 0;
				 margin-bottom: 0;
			 }
			 margin-bottom: rem(-50);
			 margin-top: rem(250);
			 @include media-breakpoint-up(md) {

				 padding: rem(68) rem(60) rem(40);
				}
				padding: rem(48) rem(30) rem(20);
			 @include media-breakpoint-only(md) {
				 margin-left: rem(-340);
				 padding: rem(68) rem(30) rem(40);
				 margin-top: rem(180);
			 }
			 p{
				 @extend .h6;
				 line-height: 1.48;
				 @include media-breakpoint-up(md) {

					 padding-bottom: rem(20);
					}
				 &:first-child{
					 position: relative; 
				 }
			 }
			picture{
				margin-right: rem(20);
			}

			&::before,
			&::after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-radius: rem(6);
				z-index: -1;
				
			}
			&::after{
				background-color: #fff;
				clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0 100%, 0 rem(70 + 20), rem(20) rem(50 + 20), 0 rem(30 + 20));
				background-image: url(../img/@2x/“.png);
				background-position: rem(60) rem(4);
				background-repeat: no-repeat;
				background-size: rem(53) rem(39);
				}
				&::before{
					top: 10%;
					height: 90%;
					box-shadow: 0 12px 29px rgba(20, 20, 20, 0.04);
				}
		 }

		 &__text-block-foot{
			 align-items: center;
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		margin-bottom: rem(50);
	}
	@include media-breakpoint-down(xs) {} 

}