mixin s-stock()
	// start s-stock
	+b.s-stock.bg-wrap#s-stock&attributes(attributes)
		+pic("stock-bg",'jpg','bg')(class="picture-bg")
		.container.lazy-background.section
			.row
				+e.left-col.col-md-auto
					+e.title.lazy-background  &laquo;Скидку 100 рублей сделаете?&raquo;
					.d-none.d-md-block
						+e.sm-text Посмотрите видео, где мы&nbsp;все объясняем
						+e.video.bg-wrap(data-fancybox href="https://youtu.be/7KC0xQN66Ao")
							+pic("stock-video",'jpg','bg')(class="picture-bg")
				.col-md-auto.align-self-lg-end
					+e.man
						+pic("stock-img",'png')
				.col
					+e.text-block
						p Что есть скидка в&nbsp;100 рублей? Это ваша <b>экономия меньше 10 000</b> при&nbsp;бюджете стройки в&nbsp;несколько миллионов. Экономия на&nbsp;главном — фундаменте и&nbsp;стенах. <b>Экономия, которая может обернуться разочарованием от&nbsp;неровных стен и&nbsp;увеличенным в&nbsp;2-3&nbsp;раза бюджетом на&nbsp;отделочные материалы.</b> 

						p С нашими шлакоблоками одинаковых размеров и&nbsp;с&nbsp;ровными краями вы&nbsp;получите красивую кладку без&nbsp;отходов и&nbsp;меньший расход цемента. А&nbsp;главное, вы&nbsp;<b>получите дом с&nbsp;ровными стенами, которые сэкономят вам бюджет на&nbsp;отделочные материалы гораздо больше, чем&nbsp;10&nbsp;000&nbsp;рублей. </b> 
						+e.text-block-foot.row
							.col-xl-auto.col-lg.col-auto.d-none.d-sm-block
								+pic("autograf",'jpg','','lazy',0)
							.col-auto
								.fw-500 Константин Торшин, 
								| руководитель «А Блок»
	// end s-stock