.s-strength {
	padding-bottom: rem(5);
	&.visible .container{
		@include media-breakpoint-up(md) {

			@include bg('logo-bg.jpg');
			background-size: 50%;
			background-position: left center;
			background-repeat: no-repeat;
		}
	}

	.before{ 
		background-size: 100% 100%; 
		background-image: url(../img/svg/polygon-border.svg);
		width: rem(27px);
		height: $h3-font-size;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(20);
	}

.section-title{
	&__text{
		@include media-breakpoint-up(lg) {

			padding-left: rem(50);
		}
		@include media-breakpoint-up(md) {

			max-width: rem(397 + 50);
		}
	}
}

	.icon{
		font-size: rem(13);
		fill: url(#success-gradient);
		filter: drop-shadow(0 2px 0 #fff);
	}
	&__foot{
		@include media-breakpoint-up(md) {
			justify-content: flex-start;
		}
		justify-content: center;
		@include media-breakpoint-up(lg) {

			padding-left: rem(60);
		}
		align-items: center;
		// picture{
			
		// }
		@include roww(5);
		.col-auto{
			// display: flex;
		}
	}
	&__text{
		@extend .h6;
		font-weight: 500;
		max-width: rem(100);
		padding-bottom: rem(10);
	}
	.container{

	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}