mixin prod-body()
	// start prod-body
	+b.prod-body&attributes(attributes)
		.container
			.row
				.col-lg-7
					h5.strong Описание:
					p Камни производятся на вибропрессе последнего поколения, за счёт чего имеют идеальную геометрию и прочность. Марка прочности до М-200. 

					p Вся продукция имеет соответствующие паспорта качества и результаты испытаний согласно ГОСТ 6133-99
				.col.d-none.d-lg-block
					+pic("image2")
	// end prod-body