.s-shipping-page {
	text-align: center;
	padding-top: rem(45);
		 
	.section-title{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(610);
		padding-bottom: 0;
		margin-bottom: rem(0);
		h1{
			padding-bottom: rem(15);
		}
	}
 
		&__col{
			@include media-breakpoint-up(md) {

				margin-bottom: rem(95);
			}
			margin-bottom: rem(40);
			z-index: 3;
			&:nth-child(1){
				picture{
					@include media-breakpoint-up(md) {

						margin-left: rem(-100);
					}
					margin-left: -10%;
					margin-bottom: rem(20);
				}
			}
			&:nth-child(2) {
				@include media-breakpoint-up(md) {

					padding-top: rem(120);
				}
				picture{
					margin-left: -25%;
					// margin-left: rem(-80);
					margin-bottom: rem(0);
				 
				}
			}
			
			&:nth-child(3) {
				@include media-breakpoint-up(md) { 
					padding-top: rem(40);
				}
				picture{
					margin-left: -5%;
				}
			} 
			}
			&__item{ 
				picture{ 
					margin-bottom: rem(10);
					@include media-breakpoint-up(xl) {

						height: rem(390);
						margin-bottom: 0;
					}
					display: flex;
					align-items: center;
					width: auto;
					justify-content: center;
				
					img{
						max-height: 100%;
						flex-shrink: 0;
					}
				}
			}

			&__title{
				@extend h5;
				font-weight: bold;
				&--foot{
					margin-left: auto;
					margin-right: auto;
					max-width: rem(380);
					@include media-breakpoint-up(sm) {

						padding-top: rem(40);
						padding-bottom: rem(10);
					}
				}
			}
			&__text{
				@extend .h6;
				font-weight: 500;
				margin-left: auto;
				margin-right: auto;
				&--foot{
					max-width: rem(460);
				}
				&--item{

					max-width: rem(195);
				}
			}

			&__foot{
				z-index: 2;
				
				// padding: rem(20);
		
				&::before{ 
					content: '';
					position: absolute;
					@include a-cent();
					@include media-breakpoint-up(sm) {

						width: calc(100% + #{rem(1000 - 756)});
						height: calc(100% + #{rem(397 - 200)});
					}
					width: calc(100% );
					height: calc(100% + #{rem(397 - 150)});
					// background-image: url(../img/svg/shipping-block-bg.svg);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					z-index: -1;
				}
				@include media-breakpoint-up(sm) {
					// margin-top: 0;
					margin-top: -2rem;
					margin-left: auto;
				margin-right: auto;
				margin-bottom: rem(15);
				}
				margin-bottom: 20%;
				margin-left: -15px;
				margin-right: -15px;
				padding-left: rem(20);
				padding-right: rem(20);
				margin-top: rem(80);
				&.visible::before{
					@include media-breakpoint-up(sm) { 
						@include bg("5-layers.jpg");
						margin-top: 0;
					}
					@include bg("5-layers-sm.jpg");
				}
				max-width: rem(756);
				height: rem(200);
				
			 
				padding-bottom: 1.6875rem;
				display: flex;
				// align-items: flex-end;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				position: relative;
			 
				border-radius: .375rem;
			}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}